# Tarea 01 - Numpy

In [1]:
import numpy as np

<h3> Completa los siguientes ejercicios. Documente su código según sea necesario. 10 puntos cada ejercicio</h3>
<br>

<ol>
<li><font size=3> Cree un Numpy Array de 5 por 7 de números enteros aleatorios con valores entre 3 y 11 inclusive. Luego haz lo siguiente:
     <ol> <li>Verifique el tipo de datos del array</li>
         <li>Encuentre el máximo de todo el array</li>
         <li>Encuentre el valor mínimo de cada fila</li>
         <li>Encuentre el índice donde ocurre el valor mínimo de cada fila</li>
     </ol></font></li>
</ol>

In [2]:
uno = np.random.randint(low=3, high=12, size=(5, 7))
print(uno)

[[ 9 11  9  9  8 10  9]
 [ 8 10  5  8  9  8  4]
 [11  5  6 11  4 10  3]
 [ 8  9 10 10 10 10  7]
 [ 4  7  6  5  3  4  7]]

In [3]:
uno_a = uno.dtype
print("El tipo de dato de todo el array es: ",uno_a)

El tipo de dato de todo el array es:  int64

In [4]:
uno_b = np.max(uno)
print("El valor minimo del array es: ",uno_b)

El valor minimo del array es:  11

In [5]:
min_valor = []

for fila in uno:
    min_fila = np.amin(fila)
    min_valor.append(min_fila)

print("Los valores mínimos de cada fila son:", min_valor)

Los valores mínimos de cada fila son: [8, 4, 3, 7, 3]

<ol start='2'>
   
<li> <font size='3'>Ingrese el código a continuación que genera el siguiente numpy array: </font></li>

```python
#Resultado
array([ 4, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59, 64, 69, 74, 79, 84, 89, 94, 99])
```
</ol>

In [6]:
dos = np.arange(4, 100, 5)
print(dos)

[ 4  9 14 19 24 29 34 39 44 49 54 59 64 69 74 79 84 89 94 99]

<ol start='3'>
   
<li> <font size='3'>Ingrese el código a continuación que genera el siguiente numpy array: </font></li>

```python
#Result
array([[ 4,  9, 14, 19, 24],
       [29, 34, 39, 44, 49],
       [54, 59, 64, 69, 74],
       [79, 84, 89, 94, 99]])
```    
</ol>

In [7]:
tres = np.reshape(dos, (4, 5))
print(tres)

[[ 4  9 14 19 24]
 [29 34 39 44 49]
 [54 59 64 69 74]
 [79 84 89 94 99]]

<ol start='4'>
   
<li> <font size='3'>Cree un numpy array de 4 por 2 por 3 con valores normalmente distribuido</font></li>
   
</ol>

In [8]:
cuatro = np.random.normal(loc=0.0, scale=1.0, size=(4, 2, 3))
print(cuatro)

[[[ 1.18503106  1.04402558 -1.16699578]
  [ 0.22702005  0.88401388 -0.92880358]]

 [[-0.18214268 -0.72393146  0.05168563]
  [ 1.049079   -0.37118993  0.24382878]]

 [[ 0.04447967 -1.11775748  0.39065136]
  [-0.6781087   1.52915821 -0.4370555 ]]

 [[-0.47666714 -1.18092988  1.89529266]
  [-0.3648956   1.40851745  0.35234402]]]

<ol start='5'>
   
<li> <font size='3'>Ingrese el código a continuación que genera el siguiente numpy array (incluyendo el tipo correcto de datos): </font></li>

```python
#Result
array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 0, 1, 0, 0]]
```    

</ol>

In [9]:
cinco = np.eye(6, 6, k=-1, dtype=int)
print(cinco)

[[0 0 0 0 0 0]
 [1 0 0 0 0 0]
 [0 1 0 0 0 0]
 [0 0 1 0 0 0]
 [0 0 0 1 0 0]
 [0 0 0 0 1 0]]

<ol start='6'>
   
<li> <font size='3'>Dado el numpy array </font></li>

```python
array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])
```    
<ol>
    <li>Ingrese el código que selccione sólo los últimos 4 elementos:</li>

```python
#Result
array([27, 29, 31, 33])
```
<li>Ingrese el código que selecciones el siguiente subarray:

```python
#Result
array([ 3,  9, 15, 21, 27, 33])
```
</ol>
</ol>

In [10]:
array_ = np.array([3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33])
seis_a = array_[-4:]
print(seis_a)

[27 29 31 33]

In [11]:
seis_b = array_[::3]
print(seis_b)

[ 3  9 15 21 27 33]

<ol start='7'>
   
<li> <font size='3'>Dado el numpy array en 2D </font></li>

```python
arr_2d=np.array([[69, 75, 52, 33,  7, 62, 22],
               [87, 51, 13, 75, 78, 46, 53],
               [43, 24, 58, 76,  3,  3, 57],
               [84, 86, 75, 26, 71, 77,  7],
               [75, 17, 17, 38, 54, 72, 78]])
```    
<ol>
    <li> Ingrese el código que seleccione el elemento 72 en la última fila</li>
    <br>
   <li> Ingrese el código que seleccione el siguiente subarray:</li>

```python
#Result
array([[76,  3],
       [26, 71],
       [38, 54]])
```
<li>Ingrese el código que seleccione el siguiente subarray:

```python
#Result
array([[87, 51, 13, 75, 78, 46, 53],
       [43, 24, 58, 76,  3,  3, 57],
       [84, 86, 75, 26, 71, 77,  7]])
```
</ol>
</ol>

In [12]:
arr_2d = np.array([[69, 75, 52, 33,  7, 62, 22],
                   [87, 51, 13, 75, 78, 46, 53],
                   [43, 24, 58, 76,  3,  3, 57],
                   [84, 86, 75, 26, 71, 77,  7],
                   [75, 17, 17, 38, 54, 72, 78]])

siete_a = arr_2d[4, 5]
siete_a2 = arr_2d[-1, -2]

print(siete_a)
print(siete_a2)

72
72

In [13]:
siete_b = arr_2d[2:5, 3:5]
print(siete_b)

[[76  3]
 [26 71]
 [38 54]]

In [14]:
siete_c = arr_2d[1:4, :]
print(siete_c)

[[87 51 13 75 78 46 53]
 [43 24 58 76  3  3 57]
 [84 86 75 26 71 77  7]]

<ol start='8'>
   
<li> <font size='3'>Dado el numpy array</font></li>

```python
arr=np.arange(1,50,3)
array([ 1,  4,  7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49])
```    
<ol>
    <li>Ingrese el código que seleccione todos los elementos más grandes que 7 y menores que 43:

```python
#Result
array([10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40])

```
   <li>Ingrese el código que selecciona todos los enteros pares más grandes que 11 y menores que 45:</li>

```python
#Result
array([16, 22, 28, 34, 40])
```
</ol>
</ol>

In [15]:
arr = np.arange(1, 50, 3)
ocho_a = arr[(arr > 7) & (arr < 43)]
print(ocho_a)

[10 13 16 19 22 25 28 31 34 37 40]

In [16]:
ocho_b = arr[np.logical_and(arr > 11, arr < 45) & (arr % 2 == 0)]
print(ocho_b)

[16 22 28 34 40]

<ol start='9'>
   
<li> <font size='3'>Cree un 1D array uniformemente distribuido con 20 elementos y calcule: </font></li>


<ol>
    <li> Media</li>

   <li>Deviación estándar</li>
   
   <li>Mediana</li>
   
   <li>Media de sus valores en log</li>
</ol>
</ol>

In [17]:
arreglo = np.arange(1, 21)
print(arreglo)

nueve_a = np.mean(arreglo)
print(nueve_a)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
10.5

In [18]:
nueve_b = np.std(arreglo)
print(nueve_b)

5.766281297335398

In [19]:
nueve_c = np.median(arreglo)
print(nueve_c)

10.5

In [20]:
nueve_d = np.mean(np.log(arreglo))
print(nueve_d)

2.1167808230376743

<ol start='10'>
   
<li> <font size='3'>Escriba una función que:</font></li>
    <ol>
    <br>
   <li> Tome un numpy array en 1D como input e imprima el arreglo invertido con elementos tipo flotantes</li>

For ejemplo, si ingresas el siguiente array en tu función
```python
array([ 1,  3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23])
```
deberías imprimir

```python
array([23., 21., 19., 17., 15., 13., 11.,  9.,  7.,  5.,  3.,  1.])
```

<li> Tome un numpy array en 2D como input e imprima una copia del input array <b> flattened</b> a una dimensión </li>

For ejemplo, si el input array es:
```python
array([[7, 4, 8, 3],
       [6, 3, 4, 3],
       [4, 7, 5, 4]])
```
el output de tu función debería ser
```python
array([7, 4, 8, 3, 6, 3, 4, 3, 4, 7, 5, 4])
```
</ol>
</ol>

In [21]:
def invertir_arreglo(arr):
    invertido = np.flip(arr)
    flotante = invertido.astype(float)
    return flotante
    
diez_a = np.arange(1, 100, 6)

print(invertir_arreglo(diez_a))

[97. 91. 85. 79. 73. 67. 61. 55. 49. 43. 37. 31. 25. 19. 13.  7.  1.]

In [22]:
def unidimensionar(arr):
    return arr.flatten()

diez_b = np.array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

print(unidimensionar(diez_b))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]